.faq {
   border-top: 1px solid #4c18aa;
   margin-top: 80px;
   @media (min-width: 768px) {
      margin-top: 160px;
   }
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      margin-bottom: 49px;
      @media (min-width: 768px) {
         margin-top: 160px;
      }
   }
   &-title {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.08em;
      line-height: 40px;
      text-align: center;
      color: #100246;
      margin-bottom: 48px;
      @media (min-width: 768px) {
         font-size: 48px;
         line-height: 66px;
         margin-bottom: 64px;
      }
   }
   &__list {
      &-col {
         padding: 16px;
         border-radius: 48px;
         background: #fff;
         box-shadow: 0px 16px 32px rgba(16, 8, 27, 0.1);
         margin-bottom: 24px;
         cursor: pointer;
         &:last-child() {
            margin-bottom: 0;
         }
         @media (min-width: 768px) {
            margin-bottom: 32px;
            padding: 33px 16px 33px 64px;
            &:last-child() {
               margin-bottom: 0;
            }
         }
      }
      &-flex {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
      &-item {
         &-text {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.08em;
            line-height: 28px;
            text-align: left;
            color: #100246;
            max-width: 256px;
            @media (min-width: 768px) {
               font-size: 24px;
               line-height: 40px;
               max-width: 984px;
            }
         }
         .faq__list-col.active .faq__list-item-text {
            color: #4c18aa;
         }
         &-plus {
            width: 56px;
            height: 56px;
            background: #f6f3ff;
            border-radius: 50%;
            position: relative;
            &::before {
               content: "";
               position: absolute;
               background: url(../src/img/icons/plus.svg);
               background-repeat: no-repeat;
               background-size: cover;
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
               width: 14px;
               height: 14px;
            }
            @media (min-width: 768px) {
               width: 64px;
               height: 64px;
            }
         }
         .faq__list-col.active .faq__list-item-plus {
            background: #4c18aa;
         }
         .faq__list-col.active .faq__list-item-plus::before {
            width: 14px;
            height: 3px;
            background: #fff;
            transition: all 0.2s linear;
         }
      }
   }
   .faq-hide {
      max-width: 256px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.08em;
      line-height: 24px;
      text-align: left;
      color: #a6abbd;
      overflow: hidden;
      height: 0;
      transition: all 0.3s linear;
      @media (min-width: 768px) {
         font-size: 20px;
         line-height: 32px;
         max-width: 984px;
      }
   }
   .faq__list-col.active .faq-hide {
      height: 138px;
      overflow: visible;
      @media (min-width: 768px) {
         height: 56px;
      }
   }
}
