.video {
   margin-top: 80px;

   @media (min-width: 768px) {
      margin-top: 160px;
   }
   &__content {
      &-flex {
         position: absolute;
         left: 0;
         top: 0;
         right: 0;
         bottom: 0;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      &-box-img {
         position: relative;
         &::before {
            content: "";
            position: absolute;
            background: url(../src/img/icons/play.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            width: 64px;
            height: 64px;
            cursor: pointer;

            @media (min-width: 768px) {
               width: 120px;
               height: 120px;
            }
         }
      }
      &-img {
         width: 100%;
         object-fit: cover;
      }

      &-text {
         max-width: 328px;
         font-family: Montserrat;
         font-weight: 500;
         font-size: 14px;
         letter-spacing: 0.08em;
         line-height: 24px;
         text-align: left;
         color: #9ca9b4;
         margin-top: 16px;
         @media (min-width: 768px) {
            max-width: 900px;
            font-size: 16px;
            line-height: 28px;
            margin-top: 32px;
         }
      }
   }
}
